In [5]:
import time

In [18]:
ISOTIMEFORMAT='%Y-%m-%d %X'

ut = time.strftime( ISOTIMEFORMAT, time.localtime() )

In [1]:
import tushare as ts

In [74]:
basics = ts.get_stock_basics()

In [75]:
basics.shape

(2780, 15)

In [62]:
str(basics.ix['600077']['timeToMarket'])

'19970520'

In [29]:
basics.insert(0,"update_time",ut,True)

In [44]:
import pandas as pd

In [78]:
df1 = pd.DataFrame()

In [79]:
'%.2f'%(1.445)

'1.45'

In [87]:
df2 = ts.get_h_data('000001',start='2015-11-20',end='2015-11-20',autype='hfq')
df2

TypeError: get_hist_data() got an unexpected keyword argument 'autype'

In [93]:
df = ts.get_h_data('601727').sort_index(ascending=False).head()
df

[Getting data:]####

             open   high  close    low    volume     amount
date
2015-09-30  11.20  11.44  11.23  11.05  30891062  346557344
2015-09-29  11.30  11.39  11.07  11.00  32921716  367696416
2015-09-28  11.59  11.69  11.51  11.31  29705536  341980576
2015-09-25  11.93  12.01  11.41  11.27  50924896  592532928
2015-09-24  12.00  12.15  12.04  11.76  54467984  650279936

In [91]:
df.sort_index?

In [82]:
float(df['high'])==0

True

In [73]:
df.columns

Index([u'name', u'open', u'pre_close', u'price', u'high', u'low', u'bid',
       u'ask', u'volume', u'amount', u'b1_v', u'b1_p', u'b2_v', u'b2_p',
       u'b3_v', u'b3_p', u'b4_v', u'b4_p', u'b5_v', u'b5_p', u'a1_v', u'a1_p',
       u'a2_v', u'a2_p', u'a3_v', u'a3_p', u'a4_v', u'a4_p', u'a5_v', u'a5_p',
       u'date', u'time', u'code'],
      dtype='object')

In [71]:
#df1 = pd.concat([df1,df2])
#df1.concat(df2)
df2.set_index('open')
df2

            open  high  close   low    volume    amount
date
2015-11-03   6.6  6.75   6.58  6.50  14395031  95081248
2015-11-02   6.7  6.85   6.58  6.57  13664205  91058408

In [28]:
basics = basics.drop("update_time",axis=1)

In [20]:
ts.get_h_data('601727',autype='qfq').head()

[Getting data:]####

             open   high  close    low    volume     amount
date
2015-09-30  11.20  11.44  11.23  11.05  30891062  346557344
2015-09-29  11.30  11.39  11.07  11.00  32921716  367696416
2015-09-28  11.59  11.69  11.51  11.31  29705536  341980576
2015-09-25  11.93  12.01  11.41  11.27  50924896  592532928
2015-09-24  12.00  12.15  12.04  11.76  54467984  650279936

In [11]:
ts.get_h_data('600077',autype='hfq').head(), ts.get_hist_data('600077').tail()

[Getting data:]####

(             open   high  close    low    volume     amount
 date
 2015-11-19  55.54  55.87  55.78  54.25  15496610  105713512
 2015-11-18  54.81  57.73  55.54  54.41  24518024  170261808
 2015-11-17  56.51  57.24  54.81  54.25  23553730  162970064
 2015-11-16  53.93  55.87  55.70  53.60  15183944  102734400
 2015-11-13  56.59  56.92  55.06  53.93  28491562  195333488,
             open  high  close   low     volume  price_change  p_change    ma5  \
 date
 2015-11-13  7.00  7.04   6.82  6.67  284915.62         -0.31     -4.35  7.162
 2015-11-16  6.67  6.91   6.88  6.63  151839.44          0.07      1.03  7.102
 2015-11-17  6.99  7.08   6.79  6.71  235537.30         -0.10     -1.45  6.992
 2015-11-18  6.78  7.14   6.88  6.73  245180.23          0.10      1.48  6.898
 2015-11-19  6.87  6.91   6.90  6.71  154966.09          0.03      0.44  6.854

              ma10   ma20      v_ma5     v_ma10     v_ma20  turnover
 date
 2015-11-13  6.999  6.952  298855.33  248408.28  289273.85      2.61
 2015-11-16  7.030  6.973  285167.65  249928.02  279241.10      1.39
 2015-11-17  7.052  6.967  274435.10  259086.72  267078.04      2.16
 2015-11-18  7.041  6.999  266778.17  261001.55  261140.28      2.25
 2015-11-19  7.035  7.001  214487.74  251423.17  251681.04      1.42  )

In [65]:
test_code='600077'

In [66]:
test_fq_factor = ts.stock.trading._parase_fq_factor(test_code,'2015-01-01','2015-11-15').set_index('date').sort_index(ascending=False)

In [67]:
test_fq_factor.head()

             factor
date
2015-11-20  56.2702
2015-11-19  55.7851
2015-11-18  55.5425
2015-11-17  54.8149
2015-11-16  55.7043

In [96]:
import sys

In [98]:
sys.path.append('/home/work/dev/my_stock')

In [99]:
import lib.utils as utils

In [100]:
import pandas.io.sql as sql

In [142]:
a=sql.read_frame('select code from t_stock_basics', utils.getEngine())
a

        code
0     000001
1     000002
2     000004
3     000005
4     000006
5     000007
6     000008
7     000009
8     000010
9     000011
10    000012
11    000014
12    000016
13    000017
14    000018
15    000019
16    000020
17    000021
18    000022
19    000023
20    000024
21    000025
22    000026
23    000027
24    000028
25    000029
26    000030
27    000031
28    000032
29    000033
...      ...
2750  603699
2751  603703
2752  603718
2753  603729
2754  603766
2755  603788
2756  603789
2757  603799
2758  603806
2759  603808
2760  603818
2761  603828
2762  603838
2763  603869
2764  603883
2765  603885
2766  603889
2767  603898
2768  603899
2769  603901
2770  603918
2771  603939
2772  603968
2773  603969
2774  603979
2775  603988
2776  603989
2777  603993
2778  603997
2779  603998

[2780 rows x 1 columns]

In [139]:
from pandas import DataFrame, Series

In [147]:
type(a['code'])

pandas.core.series.Series

In [151]:
hfq_df = sql.read_frame('select * from t_daily_hfq_stock where code="000001"', utils.getEngine())

In [152]:
a = hfq_df.tail(1)['date']

In [153]:
b = sql.read_frame('select * from t_daily_fqFactor where code="000001" and date="%s"'%a.values[0],utils.getEngine())
b

     code        date     factor
0  000001  2015-11-27  1098.6201

In [154]:
b['factor'].values[0]

1098.6201000000001

In [155]:
hfq_df.tail(1)

,code,date,open,high,close,low,volume,amount
5811,000001,2015-11-27,1140.7667,1142.6398,1098.6201,1079.8883,72802594,867702431

In [156]:
from sqlalchemy.schema import MetaData

In [157]:
?MetaData